.flex_column.av-5qn1-fa68517e74aceaa93fff88d75b632920{
border-radius:0px 0px 0px 0px;
padding:0px 0px -100px 0px;
}

.avia-image-container.av-37pz-ef499f432001df5bc8fe69d836f0cd0a img.avia_image{
box-shadow:none;
}
.avia-image-container.av-37pz-ef499f432001df5bc8fe69d836f0cd0a .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-dk0h-2c3d55f0970f28a6ec273804dc189f4f{
padding-bottom:10px;
}
body .av-special-heading.av-dk0h-2c3d55f0970f28a6ec273804dc189f4f .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-dk0h-2c3d55f0970f28a6ec273804dc189f4f .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-btpz-67ebad14055112a35f4a7996c94b8684{
padding-bottom:10px;
}
body .av-special-heading.av-btpz-67ebad14055112a35f4a7996c94b8684 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-btpz-67ebad14055112a35f4a7996c94b8684 .av-subheading{
font-size:15px;
}

#top #wrap_all .avia-button.av-ajfv-56cf442d00d1e28bba27c62946230f04{
margin-bottom:5px;
margin-right:5px;
}

#top #wrap_all .avia-button.av-7rxx-748635ae2cb543c3f6fd3796a7d0d702{
margin-bottom:5px;
margin-right:5px;
}

#top .av-special-heading.av-4vuz-8e804f7bf03a5d9c92071db89aa5bbf8{
padding-bottom:10px;
}
body .av-special-heading.av-4vuz-8e804f7bf03a5d9c92071db89aa5bbf8 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-4vuz-8e804f7bf03a5d9c92071db89aa5bbf8 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-3zbl-e3ac8d471db6c11dbd84555b1c03025b{
padding-bottom:10px;
}
body .av-special-heading.av-3zbl-e3ac8d471db6c11dbd84555b1c03025b .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-3zbl-e3ac8d471db6c11dbd84555b1c03025b .av-subheading{
font-size:15px;
}

.flex_column.av-48wl-eb3d3bb24d0db238b68a87102cde03a8{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-kh987v9o-6da34c51ae70a2d9f30a287f59780e95{
margin:0 0 0 0;
padding-bottom:0;
}
body .av-special-heading.av-kh987v9o-6da34c51ae70a2d9f30a287f59780e95 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-kh987v9o-6da34c51ae70a2d9f30a287f59780e95 .av-subheading{
font-size:15px;
}

#top .avia-icon-list-container.av-kh7vsfx6-ba384ebf481350e1501facd54b8c8c7f .iconlist_icon{
color:#333333;
}

